body {
    background-image: url("../images/background.png");
}

.fluid_container {
    background-color: white;
}

#name_tag {
    text-align: center;
    background-color: #4AAAA5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif; 
}
